
#displayArea{
    border: solid 1px;
    border-color: blue;

    margin: auto;
    position: relative;

    width: 100px;
    height: 100px;
}


.aBlob{

    border: solid 1px;
    
    position: absolute;
}
